<h2 class = 'heading'>Add a PBL Link</h2>
<div id = 'add-input-box'>
	<div class="input-group">
	  <span class="input-group-addon" id="basic-addon1">pbl.link/</span>
	  <input type="text" class="form-control" placeholder="enter a key here" aria-describedby="basic-addon1" ng-model = 'goKey'>
	</div>
	<div>Redirects to</div>
	<div><input type = 'text' class = 'form-control' placeholder = 'enter a url here' ng-model = 'goURL'></div>
	<button class = 'btn btn-default' ng-click = 'addGolink(); adding = true'>Add Link</button>
</div>

<div id = 'add-followup-div' ng-show = 'adding != null && adding == true'>
	<h3>Adding your PBL Link...</h3>
	<div>{{message}}</div>
</div>

<div id = 'golink-info-div' ng-show = 'adding == null || adding == false'>
	<h2 class = 'heading'>Recent Links</h2>
	<div class = 'col-md-6'>
	<div ng-repeat = 'golink in golinks | limitTo:15'><a target = '_blank' href = '{{golink.url}}'>{{golink.key}}</a></div>
	</div>
</div>